{% extends 'website/base.html' %}
{% load static %}


{% block title %}Історія Міста{% endblock title %}


{% block content %}

<h2>Історія Нашого Міста</h2>
<img src="{% static 'website/images/novomoskovskiy.png' %}" class="center more-side-margins-image">
<p class="description smaller left">Місто Новомосковськ засноване у 1672 році, але перші поселення на його території
    датовані ще 3 тис. до н.е. Населений пункт приваблює туристів безліччю пам’яток, найцікавішою з яких справедливо
    вважається Троїцький храм.</p>
<p class="description smaller left">Саме Троїцькій церкві Олесь Гончар відвів центральне місце у своєму романі «Собор»,
    надихнувшись її красою. Споруда справді унікальна, адже зведена впродовж 1772-1781 рр. лише із дерева. Будівництвом
    займався Яким Погребняк, народний майстер, який під час зведення храму не використав жодного залізного цвяха!
    Троїцький собор не має жодних аналогів у світі за своєю конструкцією і стилістично відноситься до українського
    бароко. До перебудови споруда сягала цілих 44 метрів у висоту, але у 1888 архітектор Харманський значно змінив
    початковий задум Погребняка, надавши церкві нинішнього вигляду і зруйнувавши оптичні ілюзії, що покращували
    сприйняття собору.</p>
<p class="description smaller left">Самарський пустельний монастир зводився у 1576-1602 рр. Зараз на його території
    знаходиться декілька архітектурних пам’яток національного значення, також тут зберігаються православні святині.
    Прогулятись також варто і по оригінальному дерев’яному мосту, який поєднує береги р. Самари.</p>

{% endblock content%}