{% extends 'website/base.html' %}
{% load static %}


{% block title %}Новини{% endblock title %}


{% block content %}

<h2>Дніпропетровщина долучається до формування додаткових бригад Нацгвардії, Нацполіції та Держприкордонслужби</h2>
<p class="date">опубліковано 04 лютого 2023 року о 08:07</p>
<img src="{% static 'website/images/new_1_big.png' %}" class="center more-side-margins-image">
<p class="description smaller left">Основу нових бригад складають військові, які мають великий фронтовий досвід.
    Добровольці – підсилять підрозділи. Але спершу вони пройдуть інтенсивну підготовку. Отримають сучасне озброєння і
    техніку. Ті, хто потрапить до нових бригад, матимуть ті самі гарантії та пільги, що і ЗСУ.</p>
<p class="description smaller left">У Гвардії наступу – бригади «Сталевий кордон», «Червона калина», «Лють», «Рубіж»,
    «Спартан», «Кара-Даг», «Буревій», «Азов». Доброволець зможе обрати ту, де відчуватиме найбільшу мотивацію та матиме
    однодумців. Дізнатися більше про кожну з бригад та записатися онлайн можна на сайті https://storm.mvs.gov.ua/ А ще
    заявки прийматимуть у міському ЦНАПі за адресою: вул. Калнишевського, 1.</p>
<p class="description smaller left">Приєднуйся до #ГвардіяНаступу!</p>

{% endblock content%}